
//اي حاجه جوه البودي بتنطبق على الصفحه كلها بكل الكلاسات
body{ 
    margin: 1.5em;              /*الحواف كلها تبعد المسافة دي*/
    background: rgb(224, 245, 236);
    font-family: 'Saira Condensed', sans-serif;
}

a{  //for all liks bottons
    text-decoration: none;
    font-size: 1.5rem;
}

.main-image{
    width: 80%;
    margin-top: 2em;
    margin-left: 2.5em;
      
    //position: absolute;
}

.logo{  // hedder project name
    color: rgb(41, 33, 6);
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2rem;
}

nav{
    position: fixed;         /* دا لتثبيت الموقع على الشاشة مش هيتحرك خالص عكسها unset*/
    right: 0;
    top: 0;
    background: rgb(185, 185, 179);    /* لون الخليفية بتاعت المكب دا بس*/
    height: 100%;
    width: 40%;           /*النسب المؤويه بنستخدمها  علشان تحدد هيغطي قد ايه من الصفحه*/
    z-index: 100;         /*البعد في المحور زي يعني يخليه فوق كل حاجه*/
    text-transform: uppercase;  /*كل حاجه كابيتال ويمكن العكس وحجات تانيه كتير*/
    
    transform: translateX(100%);            // يعني يحركها في المحور اكس
    transition: transform 0.5 ease-in-out;   //دي مدة الانيمينش للمستقبل

    ul{  //header Buttons 
        list-style-type: none;   // يشيل النقط
        padding: 0;              // تقريبا حدود البتاع هتبان لما تعملهم بلوكس
        margin-top: 8em;
        
        a{
            color: rgb(43, 43, 153);
            padding: 0.4em 0.5em;
            display: block;

            &:hover{       // لما تحط الماوس عليها يحصل الي تحت دا 
                background: antiquewhite;
                //font-size: 1.6rem;
            }

        }
    }
    img{
        height: 2em;
        width: 2em;
        right: 100;
        top: 5;
        float: right;   // اسهل طريقة تودي فيها اي حاجه يمين شمال فوق تحت
        margin: 1em;
        cursor: pointer;
    }
    
}

header {
    
    display: flex;
    justify-content: space-between;

    .menu-img{
        width: 3em;
        height: 3em;
        margin-top: -1em;     /*ميرجن هيه الي بتحدد بعد البتاع عن الحواف الاربعه */
        cursor: pointer;      /*يعني ممكن تداس بالوامس*/
    }
 
}


//............................The body ................................
section.introduction{ 
    font-size: 1.6rem;
    height: 45vh;    /*يعني المسافة  بين الفقرة دي والي بعديها*/
    margin-top: 2em;
    
    img{
        width: 100%;
    }
}

.title{
    font-size: 2.5rem;
    font-family: 'Mouse Memoirs', sans-serif;
    color: black;
    font-weight: 400;
}
.sub-title{
    color: brown;
    line-height: 2rem;   // يعني المسافة بين سطور الفقرة
    margin-top: -1em;
    

}
//...........................
.more-info{

    img{
        
        width: 100%;
    }

    .title2{
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 2.5rem;
       // font-weight: bold;
        font-weight: 400;    // سمك الخط
        height: 4vh;
    }
    .description{
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
}

.Roadmap{

    .title{
        font-family: 'Mouse Memoirs', sans-serif;
        font-weight: 400;
    }

    .title2{
        font-size: 1.8rem;
        height: 3vh;
    }
    .description{
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
}
.NFT{
    //display: flex;
    //display: flex;
    display: block;
    justify-content: center;

    /*.title{
        justify-content:left;
        font-family: 'Mouse Memoirs', sans-serif;
        font-weight: 400;
    }*/
    img{
        
        height: 10em;
        width: auto;
        margin: 0.5em;
        
    }

}
.bottom{
    
    ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
        //padding: 0;
        
    }

    .socials{

        img{
            height: 1.6em;
            width: auto;
            margin : 0;
            margin-left: 1em;
            margin-right: 1em;
            
            &:hover{       // لما تحط الماوس عليها يحصل الي تحت دا 
                height: 1.9em;
            }
            //display: flex;
            //justify-content: center;


            //display: block;
            //padding: 0.2em 1em;
        }
       
    }
    .info{
        a{
            font-size: 1.1rem;
            //display: block;
            padding: 0.2em 0.5em;
            
            &:hover{       // لما تحط الماوس عليها يحصل الي تحت دا 
                text-decoration: underline;   // يحط خط تحتح الكلام
             }
        }
    }


    .logo{
        width: 3em;
        //margin-left: 10em;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
}

//........................screen sizs ............................................
// .............. size 1..........
@media only screen and(min-width: 680px){ //زقه شمال

    body{ 
        margin: 1.5em 5em;              /*الحواف كلها تبعد المسافة دي*/
    }
    section.introduction{  
        height: 20vh;    /*يعني المسافة  بين الفقرة دي والي بعديها*/

        img{
        //width: 80%;
        display: none;
        }
    }
}
//.............. size 2...........
@media only screen and(min-width: 920px){ // for small desktop
    body{ 
        margin: 1.5em 8em;              /*الحواف كلها تبعد المسافة دي*/
    }

    .menu-img{
        display: none;
    }
    .closeBotton{
        display: none;
    }

    nav{
        transform: translateX(0%);
        position: unset;
        //display: block;
        width: auto;
        height: auto;
        background: none;

        ul{
            display: flex;
            margin: 0;

            a{
                font-size: 1.8rem;
                color: black;
                padding: 0.3em 0.7em;
                font-family: 'Mouse Memoirs', sans-serif;
                margin-top: -0.6em;
            }
        }
    }
    .mainImage{

        display: flex;             // اكتب دي والي تحتيها علشان تخلي اي حاجه في النص على طول 
        justify-content: center;

        .main-image{
            width: 60%;
            //width: 1200px;
            //margin: 0 auto;
           // position: unset;
        }
        
    }
    
    section.introduction{
        
        height: 20vh;    /*يعني المسافة  بين الفقرة دي والي بعديها*/
        //margin-top: 2em;
    
        /*img{
        width: 80%;
        }*/
    }

    .more-info{
        display: grid;                       // يحولها لشبكه
        grid-template-columns: repeat(2,auto) ;  // يقسمهم 
        gap: 3em;                                // المسافه بين الاثنين في نفس الصف
        margin-bottom: 1em;

        img{
            width: 25em;
        }
        

    }
    .NFT{
        display: flex;             // اكتب دي والي تحتيها علشان تخلي اي حاجه في النص على طول 
        justify-content: center;   // بس لازم تتكتب في الديف نفسه مش جوه اي حاجه تانيه
    }
}
//.................. size 3.................
@media only screen and(min-width: 1200px){ // for PC the main shit

    .wrapper{
        width: 1200px;
        margin: 0 auto;
    }
    .main-image{
       margin-top: 5.5em;
       
    }

    .more-info{
        gap: 0;
    }

    section.introduction{
        
        height: 20vh;    /*يعني المسافة  بين الفقرة دي والي بعديها*/
        //margin-top: 2em;
        .shit{
            display: none;
        }
    
    }

    
    .NFT{
        display: flex;             // اكتب دي والي تحتيها علشان تخلي اي حاجه في النص على طول 
        justify-content: center;   // بس لازم تتكتب في الديف نفسه مش جوه اي حاجه تانيه
    }
    

}